* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template: auto / repeat(10, 1fr);
}

.book-container {
    grid-column: 1 / 8;
    background-color: rgb(85, 85, 162);
    padding-top: 15px;
    padding-bottom: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 12px;
}

.form-container {
    grid-column: 8 / 11;
    background-color: rgb(184, 106, 106);
}

.book-card {
    /* border: 0px solid rgb(5, 94, 94); */
    box-shadow: 2px 2px 5px 0px rgb(49, 15, 15);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.book-card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.903);
}

button {
    font-size: 32px;
    font-weight: 700;
    color: white;
    background-color: rgb(90, 146, 40);
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 30px;
    cursor: pointer;
}

#submit {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(22, 177, 157);
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 30px;
}

form {
    padding-left: 20px;
}

a>img {
    width: 15px;
    height: 15px;

}

.card-action {
    display: flex;
    justify-content: flex-end;
}

.book-card:hover #delete, 
.book-card:hover #edit {
    opacity: 1;
}

.card-action a{
    opacity: 0;
    transition: opacity .25s;
    cursor: pointer;
}

.edit-card-form, #create-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-card-form>*, #create-form>* {
    margin-right: 10px;
    border: none;
    padding: 3px;
    font-size: 20px;
}

.edit-card-form>label, #create-form>label {
    padding: 0;
    margin-top: 3px;
}

#submit-edit, #submit {
    align-self: flex-start;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
}